
.box-content {
    border: 1px solid #dee2e6;
    padding: 15px;
    margin-bottom: 15px; 
    background-color: #f8f9fa;
}

.testimoni-box {
    min-height: 380px;
}

.kritik-box,
.saran-box {
    min-height: 180px;
}

.header-box {
    background-color: #e9ecef;
    padding: 5px 15px;
    border-bottom: 1px solid #dee2e6;

    margin: -15px -15px 15px -15px; 
    font-weight: bold;
    text-transform: uppercase;
}

.identitas-box {
    padding: 15px 0;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.page-footer { 
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.footer-copyright { 
    color: #666;
    padding: 40px 0;
}