* {
    box-sizing: border-box;
    margin: 1;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.kalkulator-wadah {
    width: 300px;
    background-color: #333;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); 
}

.layar {
    width: 100%;
    height: 80px;
    border: none;
    background-color: #222;
    color: #fff;
    font-size: 2.5em;
    text-align: right;
    padding: 15px;
    outline: none
}

.tombol-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1px;
}

button {
    height: 60px;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.1s;
}

.angka, .desimal {
    background-color: #555;
    color: rgb(255, 255, 255);
}

.operator {
    background-color: #ff9400;
    color: white;
}

.clear {
    background-color: #aaa; 
    color: #333;
}

.sama-dengan {
    background-color: #007bff;
    color: white;
    grid-row: span 2; 
}

button:hover {
    filter: brightness(1.2);
}


.nol {
    grid-column: span 2;
}