body{
    padding: 0px;
    margin: 0px;
    background: #e1e1e1;
}

.menu{
    position: sticky;
    margin: 10px;
    padding: 15px;
    overflow: hidden;
    z-index: 1000;
    background: teal;
    top: 0;
    text-align: left;
}

.menu a{
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.menu a:hover{
    background-color: #006666;
}

.header{
    background: rgba(0, 0, 0, 0.9);
    padding: 6px 24px;
    text-align: left;
    color: white;
    margin: 0px;
    letter-spacing: 1px;
    font: caption;
    font-size: 24px;
    text-transform: uppercase;
}

.video-container{
    position: relative;
    top: 0px;
    z-index: -1;
}

.video-container iframe{
    width: 100%;
    height: 90vh;
}

.content{
    padding: 0px 24px;
    text-align: justify;
    font-size: 20px;
}